{% extends "../templates/default.twig" %}

{% block page %}

	<main class="category">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="category__banner" style="background-image: url(assets/images/category.png);">
						<div class="col-6">
							<div class="category__banner-title">
					    		<span>Категория</span>
					    		<h2>Бизнес аналитика</h2>
					    	</div>
					    	<div class="category__banner-tags tags__wrapper">
					    		<div class="tag">Бизнес</div>
					    		<div class="tag">Психология</div>
					    		<div class="tag bg-primary">Творчество и креатив</div>
					    		<div class="tag">Здоровье и красота</div>
					    		<div class="tag bg-primary">Подготовка к ЕГЭ</div>
					    		<div class="tag bg-primary">Управление</div>
					    		<div class="tag">История</div>
					    		<div class="tag">Китай</div>
					    		<div class="tag">Политика</div>
					    		<div class="tag">Информационная безопасность</div>
					    		<div class="tag">Языки и перевод</div>
					    		<div class="tag">Soft Skills</div>
					    		<div class="tag bg-primary">Социальная работа</div>
					    	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "../components/courses.twig" %}
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="category__lead">
						<div class="category__lead-title">Поможем ответить <br>на ваши вопросы</div>
						<a href="#" class="btn btn-outline-light btn-rounded">Задать вопрос <img src="assets/svg/arrow.svg" alt=""></a>
						<picture>
							<source srcset="assets/images/lead-mobile.png" media="(max-width: 768px)">
							<img src="assets/images/lead.png" alt="">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}