{% extends "../templates/default.twig" %}
{% block page %}
	<main class="main">
		<div class="container">
		    <div class="row">
		        <div class="col-12">
		            <div class="toast toast__main fade show" role="alert">
		                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
		                <div class="toast-body toast__main-body">
		                	<div class="toast__main-title">Инженерно-проектировочная деятельность</div>
		                	<div class="toast__main-counter">
		                		<div class="js-counter"></div>
		                		<a href="#" class="btn btn-light btn-rounded">Записаться на курс</a>
		                	</div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="main__tab">
			<div class="container">
				<div class="row align-items-stretch">
			    	<div class="col-7">
			    		<div class="main__tab-content">
			    			<ul class="nav nav-tabs">
				    			<li class="nav-item">
				    				<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">Высшее</button>
				    			</li>
				    			<li class="nav-item">
				    				<button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">Дополнительное</button>
				    			</li>
				    			<li class="nav-item">
				    				<button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab3">Корпоративное</button>
				    			</li>
				    		</ul>
				    		<div class="tab-content">
				    			<div class="tab-pane fade show active" id="tab1">
				    				<div class="main__tab-title">
				    					<span>Получи</span>
				    					<h2>Высшее профессиональное образование</h2>
				    					<a href="#" class="btn btn-primary">Подобрать программу</a>
				    				</div>
				    				<div class="main__tab-tags tags__wrapper">
				    					<div class="tag">Бизнес</div>
				    					<div class="tag">Психология</div>
				    					<div class="tag">Творчество и креатив</div>
				    					<div class="tag">Здоровье и красота</div>
				    					<div class="tag">Подготовка к ЕГЭ</div>
				    					<div class="tag">Управление</div>
				    					<div class="tag">История</div>
				    					<div class="tag">Китай</div>
				    					<div class="tag">Политика</div>
				    					<div class="tag">Информационная безопасность</div>
				    					<div class="tag">Языки и перевод</div>
				    					<div class="tag">Soft Skills</div>
				    					<div class="tag">Социальная работа</div>
				    				</div>
				    			</div>
				    			<div class="tab-pane fade" id="tab2">
				    				<div class="main__tab-title">
				    					<span>Получи</span>
				    					<h2>Дополнительно <br>Профессиональное <br>образование 🚀</h2>
				    					<a href="#" class="btn btn-primary">Подобрать программу</a>
				    				</div>
				    				<div class="main__tab-tags tags__wrapper">
				    					<div class="tag">Бизнес</div>
				    					<div class="tag">Психология</div>
				    					<div class="tag">Творчество и креатив</div>
				    					<div class="tag">Здоровье и красота</div>
				    					<div class="tag">Подготовка к ЕГЭ</div>
				    					<div class="tag">Управление</div>
				    					<div class="tag">История</div>
				    					<div class="tag">Китай</div>
				    					<div class="tag">Политика</div>
				    					<div class="tag">Информационная безопасность</div>
				    					<div class="tag">Языки и перевод</div>
				    					<div class="tag">Soft Skills</div>
				    					<div class="tag">Социальная работа</div>
				    				</div>
				    			</div>
				    			<div class="tab-pane fade" id="tab3">
				    				<div class="main__tab-title">
				    					<span>Получи</span>
				    					<h2>Корпоративное обучение</h2>
				    					<a href="#" class="btn btn-primary">Подобрать программу</a>
				    				</div>
				    				<div class="main__tab-tags tags__wrapper">
				    					<div class="tag">Бизнес</div>
				    					<div class="tag">Психология</div>
				    					<div class="tag">Творчество и креатив</div>
				    					<div class="tag">Здоровье и красота</div>
				    					<div class="tag">Подготовка к ЕГЭ</div>
				    					<div class="tag">Управление</div>
				    					<div class="tag">История</div>
				    					<div class="tag">Китай</div>
				    					<div class="tag">Политика</div>
				    					<div class="tag">Информационная безопасность</div>
				    					<div class="tag">Языки и перевод</div>
				    					<div class="tag">Soft Skills</div>
				    					<div class="tag">Социальная работа</div>
				    				</div>
				    			</div>
				    		</div>
			    		</div>
			    	</div>
			    	<div class="col-5">
				    	<div class="main__tab-hero">
				    		<span>#РГСУ</span>
				    		<img src="assets/images/banner.png" alt="">
				    		<div class="animation">
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<i></i>
				    			<span></span>
				    		</div>
				    		<div class="animation revert">
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<i></i>
				    			<span></span>
				    		</div>
				    	</div>
			    	</div>
			    </div>
			</div>
		</div>
		{% include "../components/courses.twig" %}
	</main>
{% endblock %}