{% extends "../templates/default.twig" %}
{% block page %}
	<main class="main">
		<div class="container">
		    <div class="row">
		        <div class="col-12">
		            <div class="toast toast__main fade show" role="alert">
		                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
		                <div class="toast-body toast__main-body">
		                	<div class="toast__main-title">Инженерно-проектировочная деятельность</div>
		                	<div class="toast__main-counter">
		                		<div class="js-counter"></div>
		                		<a href="#" class="btn btn-light btn-rounded">Записаться на курс</a>
		                	</div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="main__tab">
			<div class="container">
				<div class="row align-items-stretch">
			    	<div class="col-7">
			    		<div class="main__tab-content">
			    			<ul class="nav nav-tabs">
				    			<li class="nav-item">
				    				<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">Высшее</button>
				    			</li>
				    			<li class="nav-item">
				    				<button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">Дополнительное</button>
				    			</li>
				    			<li class="nav-item">
				    				<button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab3">Корпоративное</button>
				    			</li>
				    		</ul>
				    		<div class="tab-content">
				    			<div class="tab-pane fade show active" id="tab1">
				    				<div class="main__tab-title">
				    					<span>Получи</span>
				    					<h2>Высшее профессиональное образование</h2>
				    					<a href="#" class="btn btn-primary">Подобрать программу</a>
				    				</div>
				    				<div class="main__tab-tags tags__wrapper">
				    					<div class="tag">Бизнес</div>
				    					<div class="tag">Психология</div>
				    					<div class="tag">Творчество и креатив</div>
				    					<div class="tag">Здоровье и красота</div>
				    					<div class="tag">Подготовка к ЕГЭ</div>
				    					<div class="tag">Управление</div>
				    					<div class="tag">История</div>
				    					<div class="tag">Китай</div>
				    					<div class="tag">Политика</div>
				    					<div class="tag">Информационная безопасность</div>
				    					<div class="tag">Языки и перевод</div>
				    					<div class="tag">Soft Skills</div>
				    					<div class="tag">Социальная работа</div>
				    				</div>
				    			</div>
				    			<div class="tab-pane fade" id="tab2">
				    				<div class="main__tab-title">
				    					<span>Получи</span>
				    					<h2>Дополнительно <br>Профессиональное <br>образование 🚀</h2>
				    					<a href="#" class="btn btn-primary">Подобрать программу</a>
				    				</div>
				    				<div class="main__tab-tags tags__wrapper">
				    					<div class="tag">Бизнес</div>
				    					<div class="tag">Психология</div>
				    					<div class="tag">Творчество и креатив</div>
				    					<div class="tag">Здоровье и красота</div>
				    					<div class="tag">Подготовка к ЕГЭ</div>
				    					<div class="tag">Управление</div>
				    					<div class="tag">История</div>
				    					<div class="tag">Китай</div>
				    					<div class="tag">Политика</div>
				    					<div class="tag">Информационная безопасность</div>
				    					<div class="tag">Языки и перевод</div>
				    					<div class="tag">Soft Skills</div>
				    					<div class="tag">Социальная работа</div>
				    				</div>
				    			</div>
				    			<div class="tab-pane fade" id="tab3">
				    				<div class="main__tab-title">
				    					<span>Получи</span>
				    					<h2>Корпоративное обучение</h2>
				    					<a href="#" class="btn btn-primary">Подобрать программу</a>
				    				</div>
				    				<div class="main__tab-tags tags__wrapper">
				    					<div class="tag">Бизнес</div>
				    					<div class="tag">Психология</div>
				    					<div class="tag">Творчество и креатив</div>
				    					<div class="tag">Здоровье и красота</div>
				    					<div class="tag">Подготовка к ЕГЭ</div>
				    					<div class="tag">Управление</div>
				    					<div class="tag">История</div>
				    					<div class="tag">Китай</div>
				    					<div class="tag">Политика</div>
				    					<div class="tag">Информационная безопасность</div>
				    					<div class="tag">Языки и перевод</div>
				    					<div class="tag">Soft Skills</div>
				    					<div class="tag">Социальная работа</div>
				    				</div>
				    			</div>
				    		</div>
			    		</div>
			    	</div>
			    	<div class="col-5">
				    	<div class="main__tab-hero">
				    		<span>#РГСУ</span>
				    		<img src="assets/images/banner.png" alt="">
				    		<div class="animation">
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<i></i>
				    			<span></span>
				    		</div>
				    		<div class="animation revert">
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<span></span>
				    			<i></i>
				    			<span></span>
				    		</div>
				    	</div>
			    	</div>
			    </div>
			</div>
		</div>
		{% include "../components/courses.twig" %}
		<div class="main__why">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="main__why-wrapper">
							<div class="row align-items-stretch">
								<div class="col-4">
									<div class="d-flex flex-column justify-content-between">
										<div class="title">Почему РГСУ?</div>
										<img src="assets/images/why.svg" alt="">
									</div>
								</div>
								<div class="col-8">
									<div class="main__why-grid">
										<div class="main__why-item">
											<strong>Дипломы и удостоверения установленного образца</strong>
											<p>Дают право на ведение профессиональной деятельности</p>
										</div>
										<div class="main__why-item">
											<strong>Вековая история университета</strong>
											<p>Мы постоянно развиваемся, передаем наш опыт и знания своим студентам</p>
										</div>
										<div class="main__why-item">
											<strong>Поддержка во время обучения</strong>
											<p>Преподаватели всегда ответят на вопросы и помогут с решением сложных заданий</p>
										</div>
										<div class="main__why-item">
											<strong>80% преподавателей имеют ученую степень</strong>
											<p>Это эксперты в своих направлениях и нишах</p>
										</div>
										<div class="main__why-item">
											<strong>3 звезды в рейтингеQS Stars University Ratings</strong>
											<p>Quacquarelli Symonds на основе своей методологии высоко оценил РГСУ</p>
										</div>
										<div class="main__why-item">
											<strong>Обучаем востребованным профессиям</strong>
											<p>IT и психология, бизнес-администрирование и нутрициология, а также еще 30+ курсов для карьерного роста</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main__learn">
			<div class="container">
				<div class="row align-items-stretch">
					<div class="col-6">
						<div class="d-grid">
							<div class="main__learn-title">
								<strong>Корпоративное обучение</strong>
								<a href="#" class="btn btn-primary">Подробнее</a>
							</div>
							<div class="main__learn-item">
								<img src="assets/svg/l1.svg" alt="">
								<p>Повышение квалификации расширит компетенции как начинающих специалистов, так и настоящих профи</p>
							</div>
							<div class="main__learn-item">
								<img src="assets/svg/l2.svg" alt="">
								<p>Профессиональная переподготовка даст возможность получить новые навыки амбициозным коллегам</p>
							</div>
							<div class="main__learn-item">
								<img src="assets/svg/l3.svg" alt="">
								<p>Выгодные условия для вашей организации. Высокое качество образования. Онлайн-обучение без отрыва от работы</p>
							</div>
						</div>
					</div>
					<div class="col-6">
						<img src="assets/images/learn.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}