{% extends "../templates/default.twig" %}

{% block page %}

	<main class="item">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="breadcrumbs">
						<li><a href="#">Главная</a></li>
						<li><a href="#">Информационная безопасность</a></li>
						<li><span>Изучение обоняния. Основы клинической ольфактологии</span></li>
					</ul>
				</div>
			</div>
			<div class="row align-items-stretch">
				<div class="col-5">
					<div class="item__image">
						<span>Осталось 6 мест</span>
						<img src="assets/images/item.jpg" alt="">
					</div>
					<div class="item__info">
						<div class="item__info-title">Изучение обоняния. Основы клинической ольфактологии</div>
						<div class="d-flex gap-2">
							<a href="#" class="btn btn-primary btn-rounded">Записаться на курс</a>
							<a href="#" class="btn btn-outline-primary btn-rounded">Консультация</a>
						</div>
						<div class="item__info-counter">123456</div>
					</div>
				</div>
				<div class="col-7">
					<div class="item__content">
						<div class="item__content-block">
							<div class="item__content-title">Описание</div>
							<div class="text">Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний являются только методом политического участия и ассоциативно распределены по отраслям. Картельные сговоры не допускают ситуации, при которой базовые сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть в равной степени предоставлены сами себе.</div>
						</div>
						<div class="item__content-block">
							<div class="item__content-title">О программе</div>
							<div class="item__content-grid gap-20">
								<div class="item__content-card card-xs">
									<div class="badge"><img src="assets/svg/ib1.svg" alt=""> Стоимость:</div>
									<strong>24 000 ₽<span>45 000 ₽</span></strong>
								</div>
								<div class="item__content-card card-xs">
									<div class="badge"><img src="assets/svg/ib1.svg" alt=""> Объем:</div>
									<strong>36 академических часов</strong>
								</div>
								<div class="item__content-card card-xs">
									<div class="badge"><img src="assets/svg/ib1.svg" alt=""> Категория</div>
									<strong>Информационная безопасность</strong>
								</div>
								<div class="item__content-card card-xs">
									<div class="badge"><img src="assets/svg/ib1.svg" alt=""> Когда:</div>
									<strong>21 ноября-15 декабря</strong>
								</div>
								<div class="item__content-card card-xs">
									<div class="badge"><img src="assets/svg/ib1.svg" alt=""> Формат:</div>
									<strong>Очно/Дистанционно</strong>
								</div>
								<div class="item__content-card card-xs">
									<div class="badge"><img src="assets/svg/ib1.svg" alt=""> Тип:</div>
									<strong>Профессиональная переподготовка</strong>
								</div>
							</div>
						</div>
						<div class="item__content-block">
							<div class="item__content-title">Для кого</div>
							<div class="item__content-card card-row">
								<span class="badge bg-primary">1</span>
								<div class="text">
									<strong>Для тех, кому надо</strong>
									<p>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний являются только методом политического участия и ассоциативно распределены</p>
								</div>
							</div>
							<div class="item__content-card card-row">
								<span class="badge bg-primary">2</span>
								<div class="text">
									<strong>Для тех, кому надо</strong>
									<p>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний являются только методом политического участия и ассоциативно распределены</p>
								</div>
							</div>
							<div class="item__content-card card-row">
								<span class="badge bg-primary">3</span>
								<div class="text">
									<strong>Для тех, кому надо</strong>
									<p>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний являются только методом политического участия и ассоциативно распределены</p>
								</div>
							</div>
						</div>
						<div class="item__content-block">
							<div class="item__content-title">Заработок специлистов</div>
							<img src="assets/images/graph.svg" alt="">
						</div>
						<div class="item__content-block">
							<div class="item__content-title">Чему вы <span>научитесь</span></div>
							<div class="item__content-grid">
								<div class="item__content-card">
									<img src="assets/svg/check.svg" alt="">
									<strong>Чему то точно научитесь</strong>
									<p>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний </p>
								</div>
								<div class="item__content-card">
									<img src="assets/svg/check.svg" alt="">
									<strong>Ловить рыбу</strong>
									<p>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний являются только методом политического </p>
								</div>
								<div class="item__content-card">
									<img src="assets/svg/check.svg" alt="">
									<strong>Писать на С++</strong>
									<p>Тоже может</p>
								</div>
								<div class="item__content-card">
									<img src="assets/svg/check.svg" alt="">
									<strong>Играть в шахматы</strong>
									<p>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний </p>
								</div>
								<div class="item__content-card">
									<img src="assets/svg/check.svg" alt="">
									<strong>Чему то точно научитесь</strong>
									<p>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний являются только методом </p>
								</div>
								<div class="item__content-card">
									<img src="assets/svg/check.svg" alt="">
									<strong>“383 маавш</strong>
									<p>Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний являются только методом политического участия </p>
								</div>
							</div>
						</div>
						<div class="item__content-block">
							<div class="item__content-card card-xl">
								<div class="title">
									<strong>Содержание <br>курса</strong>
									<div class="title-info">
										<div>
											<p>15</p>
											<span>модулей</span>
										</div>
										<div>
											<p>127</p>
											<span>Часов обучения</span>
										</div>
									</div>
								</div>
								<div class="modules">
									<div class="modules__item">
										<div class="modules__item-header" data-bs-toggle="collapse" data-bs-target="#mod1">
											<div class="title">
												<span class="badge">1 модуль</span>
												<strong>Введение</strong>
											</div>
											<div class="icon"><img src="assets/svg/ddb.svg" alt=""></div>
										</div>
										<div class="modules__item-content collapse" id="mod1">
											<p>Повседневная практика показывает, что курс на социально-ориентированный национальный проект, в своём классическом представлении, допускает внедрение новых предложений. Вот вам яркий пример современных тенденций — социально-экономическое развитие создаёт предпосылки для поставленных обществом задач. Как принято считать, представители современных социальных резервов и по сей день остаются уделом либералов, которые жаждут быть указаны как претенденты на роль ключевых факторов.</p>
											<div class="tags">
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ключевой навык, который вы получите</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Python и много чего еще</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> C++</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> CSS</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Еще навык</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ps</div>
											</div>
										</div>
									</div>
									<div class="modules__item">
										<div class="modules__item-header" data-bs-toggle="collapse" data-bs-target="#mod2">
											<div class="title">
												<span class="badge">2 модуль</span>
												<strong>Теория медицины</strong>
											</div>
											<div class="icon"><img src="assets/svg/ddb.svg" alt=""></div>
										</div>
										<div class="modules__item-content collapse" id="mod2">
											<p>Повседневная практика показывает, что курс на социально-ориентированный национальный проект, в своём классическом представлении, допускает внедрение новых предложений. Вот вам яркий пример современных тенденций — социально-экономическое развитие создаёт предпосылки для поставленных обществом задач. Как принято считать, представители современных социальных резервов и по сей день остаются уделом либералов, которые жаждут быть указаны как претенденты на роль ключевых факторов.</p>
											<div class="tags">
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ключевой навык, который вы получите</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Python и много чего еще</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> C++</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> CSS</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Еще навык</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ps</div>
											</div>
										</div>
									</div>
									<div class="modules__item">
										<div class="modules__item-header" data-bs-toggle="collapse" data-bs-target="#mod3">
											<div class="title">
												<span class="badge">3 модуль</span>
												<strong>Практика</strong>
											</div>
											<div class="icon"><img src="assets/svg/ddb.svg" alt=""></div>
										</div>
										<div class="modules__item-content collapse" id="mod3">
											<p>Повседневная практика показывает, что курс на социально-ориентированный национальный проект, в своём классическом представлении, допускает внедрение новых предложений. Вот вам яркий пример современных тенденций — социально-экономическое развитие создаёт предпосылки для поставленных обществом задач. Как принято считать, представители современных социальных резервов и по сей день остаются уделом либералов, которые жаждут быть указаны как претенденты на роль ключевых факторов.</p>
											<div class="tags">
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ключевой навык, который вы получите</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Python и много чего еще</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> C++</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> CSS</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Еще навык</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ps</div>
											</div>
										</div>
									</div>
									<div class="modules__item">
										<div class="modules__item-header" data-bs-toggle="collapse" data-bs-target="#mod4">
											<div class="title">
												<span class="badge">4 модуль</span>
												<strong>Выезд</strong>
											</div>
											<div class="icon"><img src="assets/svg/ddb.svg" alt=""></div>
										</div>
										<div class="modules__item-content collapse" id="mod4">
											<p>Повседневная практика показывает, что курс на социально-ориентированный национальный проект, в своём классическом представлении, допускает внедрение новых предложений. Вот вам яркий пример современных тенденций — социально-экономическое развитие создаёт предпосылки для поставленных обществом задач. Как принято считать, представители современных социальных резервов и по сей день остаются уделом либералов, которые жаждут быть указаны как претенденты на роль ключевых факторов.</p>
											<div class="tags">
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ключевой навык, который вы получите</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Python и много чего еще</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> C++</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> CSS</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Еще навык</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ps</div>
											</div>
										</div>
									</div>
									<div class="modules__item">
										<div class="modules__item-header" data-bs-toggle="collapse" data-bs-target="#mod5">
											<div class="title">
												<span class="badge">5 модуль</span>
												<strong>Доп. модуль</strong>
											</div>
											<div class="icon"><img src="assets/svg/ddb.svg" alt=""></div>
										</div>
										<div class="modules__item-content collapse" id="mod5">
											<p>Повседневная практика показывает, что курс на социально-ориентированный национальный проект, в своём классическом представлении, допускает внедрение новых предложений. Вот вам яркий пример современных тенденций — социально-экономическое развитие создаёт предпосылки для поставленных обществом задач. Как принято считать, представители современных социальных резервов и по сей день остаются уделом либералов, которые жаждут быть указаны как претенденты на роль ключевых факторов.</p>
											<div class="tags">
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ключевой навык, который вы получите</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Python и много чего еще</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> C++</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> CSS</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Еще навык</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ps</div>
											</div>
										</div>
									</div>
									<div class="modules__item">
										<div class="modules__item-header" data-bs-toggle="collapse" data-bs-target="#mod6">
											<div class="title">
												<span class="badge">6 модуль</span>
												<strong>Конец</strong>
											</div>
											<div class="icon"><img src="assets/svg/ddb.svg" alt=""></div>
										</div>
										<div class="modules__item-content collapse" id="mod6">
											<p>Повседневная практика показывает, что курс на социально-ориентированный национальный проект, в своём классическом представлении, допускает внедрение новых предложений. Вот вам яркий пример современных тенденций — социально-экономическое развитие создаёт предпосылки для поставленных обществом задач. Как принято считать, представители современных социальных резервов и по сей день остаются уделом либералов, которые жаждут быть указаны как претенденты на роль ключевых факторов.</p>
											<div class="tags">
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ключевой навык, который вы получите</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Python и много чего еще</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> C++</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> CSS</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Еще навык</div>
												<div class="tag"><img src="assets/svg/check2.svg" alt=""> Ps</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item__content-block">
							<div class="item__content-title">Наши преподаватели</div>
							<div class="item__content-grid">
								<div class="item__content-teacher">
									<div class="image">
										<img src="assets/images/teacher.jpg" alt="">
										<span>15 лет опыта</span>
									</div>
									<div class="text">
										<strong>Анна Сергеева</strong>
										<p>Руководитель студии usdfg <br>Аналитик данных</p>
									</div>
								</div>
								<div class="item__content-teacher">
									<div class="image">
										<img src="assets/images/teacher.jpg" alt="">
										<span>15 лет опыта</span>
									</div>
									<div class="text">
										<strong>Анна Сергеева</strong>
										<p>Руководитель студии usdfg <br>Аналитик данных</p>
									</div>
								</div>
								<div class="item__content-teacher">
									<div class="image">
										<img src="assets/images/teacher.jpg" alt="">
										<span>15 лет опыта</span>
									</div>
									<div class="text">
										<strong>Анна Сергеева</strong>
										<p>Руководитель студии usdfg <br>Аналитик данных</p>
									</div>
								</div>
								<div class="item__content-teacher">
									<div class="image">
										<img src="assets/images/teacher.jpg" alt="">
										<span>15 лет опыта</span>
									</div>
									<div class="text">
										<strong>Анна Сергеева</strong>
										<p>Руководитель студии usdfg <br>Аналитик данных</p>
									</div>
								</div>
								<div class="item__content-teacher">
									<div class="image">
										<img src="assets/images/teacher.jpg" alt="">
										<span>15 лет опыта</span>
									</div>
									<div class="text">
										<strong>Анна Сергеева</strong>
										<p>Руководитель студии usdfg <br>Аналитик данных</p>
									</div>
								</div>
								<div class="item__content-teacher">
									<div class="image">
										<img src="assets/images/teacher.jpg" alt="">
										<span>15 лет опыта</span>
									</div>
									<div class="text">
										<strong>Анна Сергеева</strong>
										<p>Руководитель студии usdfg <br>Аналитик данных</p>
									</div>
								</div>
							</div>
						</div>
						<div class="item__content-block">
							<div class="category__lead">
								<div class="category__lead-title">Поможем ответить <br>на ваши вопросы</div>
								<a href="#" class="btn btn-outline-light btn-rounded">Задать вопрос <img src="assets/svg/arrow.svg" alt=""></a>
								<picture>
									<source srcset="assets/images/lead-mobile.png" media="(max-width: 768px)">
									<img src="assets/images/lead.png" alt="">
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}