<div class="list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <div class="title__content">
                        <h2>Курсы</h2>
                        <div>Найдено: 8 программ обучения</div>
                    </div>
                    <div class="title__sort">
                        <div class="sort__item dropdown">
                            <div class="sort__item-select dropdown-toggle" data-bs-toggle="dropdown">Сначала дешевле</div>
                            <ul class="dropdown-menu sort__item-dropdown">
                                <li>
                                	<div class="form-check">
		                                <input class="form-check-input" type="radio" name="s0" value="" id="s01">
		                                <label class="form-check-label" for="s01">Сначала дешевые</label>
		                            </div>
                                </li>
                                <li>
                                	<div class="form-check">
		                                <input class="form-check-input" type="radio" name="s0" value="" id="s02">
		                                <label class="form-check-label" for="s02">Сначала дорогие</label>
		                            </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sort__item dropdown">
                            <div class="sort__item-select dropdown-toggle" data-bs-toggle="dropdown">Сначала короткие</div>
                            <ul class="dropdown-menu sort__item-dropdown">
                                <li>
                                	<div class="form-check">
		                                <input class="form-check-input" type="radio" name="s1" value="" id="s11">
		                                <label class="form-check-label" for="s11">Сначала короткие</label>
		                            </div>
                                </li>
                                <li>
                                	<div class="form-check">
		                                <input class="form-check-input" type="radio" name="s1" value="" id="s12">
		                                <label class="form-check-label" for="s12">Сначала долгие</label>
		                            </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                {% include "../components/aside-filter.twig" %}
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-4">
                        <a href="#" class="list__item">
                            <span class="list__item-image">
                                <img src="assets/images/list1.png" alt="">
                                <span class="list__item-price">24 000 ₽</span>
                            </span>
                            <span class="list__item-content">
                                <span class="list__item-title">Practitioner of Political Administration (PPA)</span>
                                <span class="list__item-block">
                                    <span>Категория:</span>
                                    <p>Информационная безопасность</p>
                                </span>
                                <span class="list__item-block">
                                    <span>Период проведения:</span>
                                    <p>21 ноября-15 декабря</p>
                                </span>
                                <span class="list__item-badges">
                                	<span class="badge bg-secondary">36 ак.ч</span>
                                	<span class="badge bg-secondary">Очно/Дистанционно</span>
                                	<span class="badge bg-secondary">Профессиональная переподготовка</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="list__item">
                            <span class="list__item-image">
                                <img src="assets/images/list1.png" alt="">
                                <span class="list__item-price">24 000 ₽</span>
                            </span>
                            <span class="list__item-content">
                                <span class="list__item-title">Practitioner of Political Administration (PPA)</span>
                                <span class="list__item-block">
                                    <span>Категория:</span>
                                    <p>Информационная безопасностьбезопасностьбезопасность</p>
                                </span>
                                <span class="list__item-block">
                                    <span>Период проведения:</span>
                                    <p>21 ноября-15 декабря</p>
                                </span>
                                <span class="list__item-badges">
                                	<span class="badge bg-secondary">36 ак.ч</span>
                                	<span class="badge bg-secondary">Очно/Дистанционно</span>
                                	<span class="badge bg-secondary">Профессиональная переподготовка</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="list__item">
                            <span class="list__item-image">
                                <img src="assets/images/list1.png" alt="">
                                <span class="list__item-price">24 000 ₽</span>
                            </span>
                            <span class="list__item-content">
                                <span class="list__item-title">Practitioner of Political Administration (PPA)</span>
                                <span class="list__item-block">
                                    <span>Категория:</span>
                                    <p>Информационная безопасность</p>
                                </span>
                                <span class="list__item-block">
                                    <span>Период проведения:</span>
                                    <p>21 ноября-15 декабря</p>
                                </span>
                                <span class="list__item-badges">
                                	<span class="badge bg-secondary">36 ак.ч</span>
                                	<span class="badge bg-secondary">Очно/Дистанционно</span>
                                	<span class="badge bg-secondary">Профессиональная переподготовка</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="list__item">
                            <span class="list__item-image">
                                <img src="assets/images/list1.png" alt="">
                                <span class="list__item-price">24 000 ₽</span>
                            </span>
                            <span class="list__item-content">
                                <span class="list__item-title">Practitioner of Political Administration (PPA)</span>
                                <span class="list__item-block">
                                    <span>Категория:</span>
                                    <p>Информационная безопасность</p>
                                </span>
                                <span class="list__item-block">
                                    <span>Период проведения:</span>
                                    <p>21 ноября-15 декабря</p>
                                </span>
                                <span class="list__item-badges">
                                	<span class="badge bg-secondary">36 ак.ч</span>
                                	<span class="badge bg-secondary">Очно/Дистанционно</span>
                                	<span class="badge bg-secondary">Профессиональная переподготовка</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="list__item">
                            <span class="list__item-image">
                                <img src="assets/images/list1.png" alt="">
                                <span class="list__item-price">24 000 ₽</span>
                            </span>
                            <span class="list__item-content">
                                <span class="list__item-title">Practitioner of Political Administration (PPA)</span>
                                <span class="list__item-block">
                                    <span>Категория:</span>
                                    <p>Информационная безопасность</p>
                                </span>
                                <span class="list__item-block">
                                    <span>Период проведения:</span>
                                    <p>21 ноября-15 декабря</p>
                                </span>
                                <span class="list__item-badges">
                                	<span class="badge bg-secondary">36 ак.ч</span>
                                	<span class="badge bg-secondary">Очно/Дистанционно</span>
                                	<span class="badge bg-secondary">Профессиональная переподготовка</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="list__item">
                            <span class="list__item-image">
                                <img src="assets/images/list1.png" alt="">
                                <span class="list__item-price">24 000 ₽</span>
                            </span>
                            <span class="list__item-content">
                                <span class="list__item-title">Practitioner of Political Administration (PPA)</span>
                                <span class="list__item-block">
                                    <span>Категория:</span>
                                    <p>Информационная безопасность</p>
                                </span>
                                <span class="list__item-block">
                                    <span>Период проведения:</span>
                                    <p>21 ноября-15 декабря</p>
                                </span>
                                <span class="list__item-badges">
                                	<span class="badge bg-secondary">36 ак.ч</span>
                                	<span class="badge bg-secondary">Очно/Дистанционно</span>
                                	<span class="badge bg-secondary">Профессиональная переподготовка</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="list__item">
                            <span class="list__item-image">
                                <img src="assets/images/list1.png" alt="">
                                <span class="list__item-price">24 000 ₽</span>
                            </span>
                            <span class="list__item-content">
                                <span class="list__item-title">Practitioner of Political Administration (PPA)</span>
                                <span class="list__item-block">
                                    <span>Категория:</span>
                                    <p>Информационная безопасность</p>
                                </span>
                                <span class="list__item-block">
                                    <span>Период проведения:</span>
                                    <p>21 ноября-15 декабря</p>
                                </span>
                                <span class="list__item-badges">
                                	<span class="badge bg-secondary">36 ак.ч</span>
                                	<span class="badge bg-secondary">Очно/Дистанционно</span>
                                	<span class="badge bg-secondary">Профессиональная переподготовка</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="list__item">
                            <span class="list__item-image">
                                <img src="assets/images/list1.png" alt="">
                                <span class="list__item-price">24 000 ₽</span>
                            </span>
                            <span class="list__item-content">
                                <span class="list__item-title">Practitioner of Political Administration (PPA)</span>
                                <span class="list__item-block">
                                    <span>Категория:</span>
                                    <p>Информационная безопасность</p>
                                </span>
                                <span class="list__item-block">
                                    <span>Период проведения:</span>
                                    <p>21 ноября-15 декабря</p>
                                </span>
                                <span class="list__item-badges">
                                	<span class="badge bg-secondary">36 ак.ч</span>
                                	<span class="badge bg-secondary">Очно/Дистанционно</span>
                                	<span class="badge bg-secondary">Профессиональная переподготовка</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="list__item">
                            <span class="list__item-image">
                                <img src="assets/images/list1.png" alt="">
                                <span class="list__item-price">24 000 ₽</span>
                            </span>
                            <span class="list__item-content">
                                <span class="list__item-title">Practitioner of Political Administration (PPA)</span>
                                <span class="list__item-block">
                                    <span>Категория:</span>
                                    <p>Информационная безопасность</p>
                                </span>
                                <span class="list__item-block">
                                    <span>Период проведения:</span>
                                    <p>21 ноября-15 декабря</p>
                                </span>
                                <span class="list__item-badges">
                                	<span class="badge bg-secondary">36 ак.ч</span>
                                	<span class="badge bg-secondary">Очно/Дистанционно</span>
                                	<span class="badge bg-secondary">Профессиональная переподготовка</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="#" class="btn btn-outline-primary d-block">Показать еще</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>