<footer class="footer">
	<div class="container">
		<div class="row footer__info">
			<div class="col-7">
				<div class="row">
					<div class="col">
						<span>Время работы:</span>
						<p>Пн-Чт 9:00-18:00</p><br>
						<p>Пт 9:00-16:45</p>
					</div>
					<div class="col">
						<span>Телефон</span>
						<p>7 (495) 255-67-67</p><br>
						<p>доб. 1282, 1851</p>
					</div>
					<div class="col">
						<span>Доплонительно:</span>
						<a href="#">Политика конфиденциальности</a><br>
						<a href="#">Главный сайт РГСУ</a>
					</div>
				</div>
			</div>
			<div class="col-5">
				<ul class="social">
					<li class="social__item">
						<a href="#" class="social__link"><img src="assets/svg/tg.svg" alt=""></a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link"><img src="assets/svg/wa.svg" alt=""></a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link"><img src="assets/svg/vk.svg" alt=""></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row footer__copyright">
			<div class="col">
				<div class="d-flex">
					<p>ФГБОУ ВО “Российский государственный социальный университет”</p>
					<p>Лицензия № Л035-00115-77/00119907</p>
					<p>ИНН 7718084994</p>
					<p>ОГРН: 1027700134879</p>
				</div>
			</div>
		</div>
	</div>
</footer>