<header class="header">
	<div class="container">
		<div class="row">
			<div class="col d-flex">
				<div class="header__catalog">
					<div class="logo">
						<a href=""><img src="assets/images/logo.svg" alt=""></a>
					</div>
					<a href="#" class="btn btn-primary"><img src="assets/svg/menu.svg" alt=""> Каталог курсов</a>
					<div class="search">
						<div class="input-group">
							<span class="input-group-text"><img src="assets/svg/search.svg" alt=""></span>
							<input type="text" class="form-control" placeholder="Чему хотите научиться?" />
						</div>
					</div>
				</div>
				<div class="header__social">
					<ul class="social">
						<li class="social__item">
							<a href="#" class="social__link"><img src="assets/svg/tg.svg" alt=""></a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link"><img src="assets/svg/wa.svg" alt=""></a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link"><img src="assets/svg/vk.svg" alt=""></a>
						</li>
					</ul>
				</div>
				<div class="header__nav">
					<ul class="nav">
						<li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Частые вопросы</a></li>
					</ul>
				</div>
				<div class="header__contacts">
					<a href="#" class="btn btn-outline-primary">Контакты <img src="assets/svg/hi.svg" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</header>
<nav class="nav nav_mobile"></nav>